body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#playerImg {
  transition: all 0.6s ease-in-out;
  border: none;
}

#playerImg:hover {
  transform: scale(1.1);
}

#table-title {
  justify-content: center;
  text-align: center;
  border: none;
}

#table-label {
  font-weight: 300;
  font-size: 12px;
  text-align: left;
}
#table-data {
  font-weight: 200;
  font-size: 12px;
  text-align: center;
}

#games-table {
  font-weight: 200;
  font-size: 12px;
  background-color: transparent;
  text-align: left;
}

.nav.nav-pills .nav-link.active {
  background-color: black;
  color: white;
  font-size: 12px;
}

.nav.nav-pills .nav-link {
  color: black;
  font-size: 12px;
}

#player-card {
  width: 18rem;
  padding: 0;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  justify-content: left;
  box-shadow: rgba(149, 141, 146, 0.4) 5px 5px,
    rgba(118, 103, 112, 0.05) 25px 25px;
}
#player-card-text {
  color: black;
  font-size: 10px;
  text-align: right;
  margin-bottom: 0%;
  padding-right: 10px;
}

#player-sort-dropdown {
  flex: content;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  margin-top: 5px;
  float: left;
}

#hero-description {
  text-align: left;
  color: white;
  font-weight: 200;
}

#hero-header,
#player-header {
  text-align: left;
  color: white;
  font-weight: 600;
}

#hero-container {
  background-image: url("/public/2.svg");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

#hero-row {
  height: 50%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  padding-top: 5%;
}

#players-container {
  background-color: rgba(43, 37, 37, 0.718);
  padding-top: 2%;
}

#games-container {
  min-height: 100vh;
  background-color: #efedeb;
}

#games-row1 {
  height: 50%;
  display: flex;
  margin-right: 5%;
  padding-top: 2%;
}

#games-row2 {
  height: 50%;
  margin-right: 5%;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

#games-card {
  width: 60%;
  max-height: 100%;
  padding: 10px;
  background-color: transparent;
}

#games-tab {
  margin-bottom: 5%;
  background-color: white;
}

#games-header {
  text-align: right;

  margin-right: 5%;
}
th {
  text-align: right;
}
td {
  flex: content;
  vertical-align: middle;
  text-align: right;
}
nav {
  background-color: transparent;
  color: white;
  width: 100%;
}
.nav-tabs .nav-link.active {
  background-color: white;
  text-align: right;
  justify-content: end;
  color: black;
  font-weight: bold;
}

.nav-tabs .nav-link {
  color: black;
  text-align: right;
  justify-content: end;
  font-weight: bold;
}

#modal-player {
  border: none;
  padding: 0;
}

#modal-header {
  background-color: rgb(255, 251, 251);
}

#modal-title {
  font-size: 200%;
  font-weight: 400;
  color: black;
}

#season-tabs {
  justify-content: center;
}

#player-row {
  margin-left: 5%;
  margin-right: 2%;
}

#player-row2 {
  margin-left: 5%;
  /* margin-right: 5%;
  justify-content: space-between; */
}
#player-row-card {
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
}

.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 30%;
  height: 100%;
  left: 0;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body {
  padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

#section-instructions-right {
  text-align: right;
  font-weight: 200;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#section-instructions-left {
  text-align: left;
  font-weight: 200;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.26);
  border: none;
}
