body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#playerImg {
  transition: all 0.6s ease-in-out;
  border: none;
}

#playerImg:hover {
  transform: scale(1.1);
}

#table-header {
  font-weight: 300;
}
#table-data {
  font-weight: 200;
}
.nav.nav-pills .nav-link.active {
  background-color: black;
  color: white;
}

.nav.nav-pills .nav-link {
  color: black;
}

.cropped {
  /* width: 100%; /* width of container */
  /* height: 100%; height of container */
  /* object-fit: cover; */
  object-position: 140px 10px; /* try 20px 10px */
}
